<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Colección de Música</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Mi Inventario Musical</h1>
    </header>
    
    <main>
        {% block micontenido %}{% endblock %}
    </main>
    
    <footer>
        <p>Proyecto desarrollado con Python, Flask y MongoDB 🚀</p>
    </footer>
</body>
</html>